{% load static %}

<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'presentation/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'presentation/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Font download from Google -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap" rel="stylesheet"> 

  <style>
    body {
      background-image: url('../static/presentation/images/educ-bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style> 

</head>
<body>
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="{% url 'presentation:index' %}">HOME</a></li>
          <li><a class="white-text" href="{% url 'presentation:education' %}">EDUCATION</a></li>
          <li><a class="white-text" href="{% url 'presentation:projects' %}">PROJECTS</a></li>
          <li><a class="white-text" href="#volunteer-section">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#blog-section">BLOG</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav black-light">
          <li><a class="white-text" href="{% url 'presentation:education' %}">EDUCATION</a></li>
          <li><a class="white-text" href="{% url 'presentation:projects' %}">PROJECTS</a></li>
          <li><a class="white-text" href="#">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#">BLOG</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </nav>
  </div>

  <main>


    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <h2 class="blue-text text-darken-2 center">EDUCATION</h2>

        <div class="row center">
          <ul class="collapsible popout">

            <li>
              <div class="collapsible-header blue darken-3 white-text">
                <div class="col s1 center">2021-2023</div> 
                <div class="col s7 valign-wrapper">
                  <i class="material-icons">play_arrow</i>
                  Doctor of Philosophy, &nbsp;<em>Lojelis</em>&nbsp; and &nbsp;<em>LIMOS</em></div>
                <div class="col s4 right-align">Clermont-Ferrand, France</div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>

            <li>
              <div class="collapsible-header blue darken-2 white-text">
                <div class="col s1 center">2018-2019</div> 
                <div class="col s7 valign-wrapper">
                  <i class="material-icons">check</i>
                  Master of Computer Science, &nbsp;<em>University of Wollongong</em></div>
                <div class="col s4 right-align">Wollongong, Australia</div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>

            <li>
              <div class="collapsible-header blue darken-1 white-text">
                <div class="col s1 center">2016-2020</div> 
                <div class="col s7 valign-wrapper">
                  <i class="material-icons">check</i>
                  Software Engineering Degree, &nbsp;<em>ENSIIE</em>
                </div>
                  <!-- <a class="green-text text-accent-2">Software Engineering Degree</a><a class="white-text">, <em>ENSIIE</em></a></div> -->
                <div class="col s4 right-align">Strasbourg and Evry, France</div>
              </div>
              <div class="collapsible-body white left-align"><span>
                <img class="responsive-img col s1" src="{% static 'presentation/images/logos/PV.PNG' %}" alt="Paul Valéry">
                <span class="col s11">
                  Completed Engineering Degree majoring in Software Engineering. <br>
                  Solid background in <b>mathematics</b>, <b>computer science</b> and <b>project management</b>.  <br>
                  The first two years (Sep 2016 - Jun 2018) were mostly to learn the basics of programming (C, C++, Java, Python) and core concepts of Software Engineering. <br>
                  The third year (Jul 2018 - Dec 2019) is completed through a double degree in Artificial Intelligence in the University of Wollongong (Australia). <br>
                  I did 
                  <a href="{% url 'presentation:projects' %}">my final research internship</a> (Feb to Aug 2020) to complete my Engineering Degree in ENSIIE.
                  <blockquote>
                    <ul>
                      <li>First year main classes: Imperative Programming (C), Database Design, Web Programming, Object Languages (Java, Python), Numerical Analysis, Probability, Statistics, Mathematical Optimisation.</li>
                      <li>Second year main classes: Agile Methods, Formal Languages, Software Verification and Validation, Software Engineering, Artificial Intelligence, Operations Research.</li>
                    </ul>
                  </blockquote>
                </span>
                </span>
              </div>
            </li>

            <li>
              <div class="collapsible-header blue lighten-1 black-text">
                <div class="col s1 center">2014-2016</div> 
                <div class="col s7 valign-wrapper">
                  <i class="material-icons">check</i>
                  Preparatory Classes for the Grandes Ecoles, &nbsp;<em>Paul Valéry High School</em>
                </div>
                  <!-- <a class="green-text text-accent-2">Preparatory Classes for the Grandes Ecoles</a><a class="black-text">, <em>Paul Valéry High School</em></a></div> -->
                <div class="col s4 right-align">Paris, France</div>
              </div>
              <div class="collapsible-body white left-align"><span>
                <img class="responsive-img col s1" src="{% static 'presentation/images/logos/PV.PNG' %}" alt="Paul Valéry">
                <span class="col s11">
                  2-year intensive class in Mathematics and Physics to prepare for national competitive exams for engineering graduate school
                  <blockquote>
                    <ul>
                      <li>Main classes: Mathematics, Physics, Chemistry, English</li>
                      <li>Options taken: Industrial Sciences</li>
                    </ul>
                  </blockquote>
                </span>
                </span>
              </div>
            </li>

            <li>
              <div class="collapsible-header blue lighten-2 black-text">
                <div class="col s1 center">2014</div>
                <div class="col s7 valign-wrapper">
                  <i class="material-icons">check</i>
                  Scientific Baccalauréat, &nbsp;<em>Epin High School</em>
                </div>
                  <!-- <a class="green-text text-accent-2">Scientific Baccalauréat</a><a class="black-text">, <em>Epin High School</em></a></div> -->
                <div class="col s4 right-align">Vitry-sur-Seine, France</div>
              </div>
              <div class="collapsible-body white left-align">
                <span>
                <img class="responsive-img col s1" src="{% static 'presentation/images/logos/epin.png' %}" alt="Epin">
                <span class="col s11">
                  Scientific Baccalauréat, &nbsp;<em>Very Good</em> distinction
                  <blockquote>
                    <ul>
                      <li>Main classes: Mathematics, Physics, Chemistry, English</li>
                      <li>Speciality: Mathematics</li>
                      <li>Options taken: Life and Earth Sciences, Spanish, Chinese, Latin</li>
                    </ul>
                  </blockquote>
                </span>
                </span>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>

  </main>

  <!-- Footer: "Made with Materialize" -->
  <!-- <div class="container white-text">
    <div class="footer-copyright black-light">
    Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div> -->


  <!--  Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'presentation/js/materialize.js' %}"></script>
  <script src="{% static 'presentation/js/init.js' %}"></script>

  </body>
</html>

