{% load static %}

<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'presentation/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'presentation/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Font download from Google -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap" rel="stylesheet"> 

  <style>
    body {
      background-image: url('../static/presentation/images/educ-bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style> 

</head>
<body>
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'presentation:index' %}" class="brand-logo white-text"><i class="material-icons">home</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a class="white-text" href="{% url 'presentation:education' %}">EDUCATION</a></li>
          <li><a class="white-text" href="{% url 'presentation:projects' %}">PROJECTS</a></li>
          <li><a class="white-text" href="#volunteer-section">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#blog-section">BLOG</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav black-light">
          <li><a class="white-text" href="{% url 'presentation:education' %}">EDUCATION</a></li>
          <li><a class="white-text" href="{% url 'presentation:projects' %}">PROJECTS</a></li>
          <li><a class="white-text" href="#">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#">BLOG</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <main>


    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <h2 class="blue-text text-darken-2 center">EDUCATION</h2>

        <div class="row center">
          <ul class="collapsible popout">
            <li>
              <div class="collapsible-header blue darken-3">
                <div class="col s1 center white-text">2021-2023</div> 
                <!-- <div class="col s1 center"><i class="material-icons yellow-text text-lighten-3">play_arrow</i></div> -->
                <div class="col s7 valign-wrapper">
                  <i class="material-icons yellow-text text-lighten-3">play_arrow</i>
                  <a class="yellow-text text-lighten-3">Doctor of Philosophy</a><a class="white-text">, <em>Lojelis</em> and <em>LIMOS</em></a></div>
                <div class="col s4 right-align white-text">Clermont-Ferrand, France</div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header blue darken-2">
                <div class="col s1 center white-text">2018-2019</div> 
                <div class="col s7 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">Master of Computer Science</a><a class="white-text">, <em>University of Wollongong</em></a></div>
                <div class="col s4 right-align white-text">Wollongong, Australia</div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header blue darken-1">
                <div class="col s1 center white-text">2016-2020</div> 
                <div class="col s7 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">Software Engineering Degree</a><a class="white-text">, <em>ENSIIE</em></a></div>
                <div class="col s4 right-align white-text">Strasbourg and Evry, France</div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header blue lighten-1">
                <div class="col s1 center white-text">2014-2016</div> 
                <div class="col s7 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">Preparatory Classes for the Grandes Ecoles</a><a class="white-text">, <em>Paul Valéry High School</em></a></div>
                <div class="col s4 right-align white-text">Paris, France</div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header blue lighten-2">
                <div class="col s1 center white-text">2014</div>
                <div class="col s7 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">Scientific Baccalauréat</a><a class="white-text">, <em>Epin High School</em></a></div>
                <div class="col s4 right-align white-text">Vitry-sur-Seine, France</div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </main>

  <!-- Footer: "Made with Materialize" -->
  <div class="footer-copyright black-light">
    <div class="container white-text">
    Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>


  <!--  Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'presentation/js/materialize.js' %}"></script>
  <script src="{% static 'presentation/js/init.js' %}"></script>

  </body>
</html>

