{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'dev_projects/css/style.css' %}"> -->

<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'presentation/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'presentation/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'presentation:index' %}" class="brand-logo white-text"><i class="material-icons">home</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="#educ-section">EDUCATION</a></li>
          <li><a class="white-text" href="#proj-section">PROJECTS</a></li>
          <li><a class="white-text" href="#volunteer-section">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#blog-section">BLOG</a></li>
          <li><a class="white-text" href="#contact-me">CONTACT</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">EDUCATION</a></li>
          <li><a href="{% url 'dev_projects:index' %}">PROJECTS</a></li>
          <li><a href="#">VOLUNTEERING</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a class="{% url 'presentation:contact' %}" href="#contact-me">CONTACT</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

<!-- QUICK PRESENTATION -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header black-text">HELENE TRAN</h2>
        <div class="row">
          <p class="header col s12 black-text">
            PERSISTANT, CHALLENGE LOVER, ALTRUIST
          </p>
          <p class="header col s12 black-text">
            Research Engineer in Artificial Intelligence <br>
            Passion for Computer Vision <br>
            Software and Web Programmer
          </p>

          <a href="mailto:tr.helene@hotmail.com" class="brand-logo black-text"><i class="material-icons">email</i></a>
          <a href="http://www.linkedin.com/in/helene-tran1" class="brand-logo black-text"><img src="{% static 'presentation/images/linkedin.png' %}" alt="linkedin" width=25></a>
          <a href="http://github.com/helenetran3" class="brand-logo black-text"><img src="{% static 'presentation/images/github.png' %}" alt="github" width=25></a>
          <a href="{% static 'presentation/images/CV_TRAN-Helene.pdf' %}" class="brand-logo black-text"><img src="{% static 'presentation/images/CV.png' %}" alt="CV" width=25></a>

          <br>

          <a href="{% url 'dev_projects:index' %}" id="download-button" class="btn-large waves-effect waves-light black white-text">My Skills</a>


            <!-- <p class="header col s12 black-text"> -->
              <!-- Always in search of new opportunities to increase my knowledge and develop my personal skills,
              I am a newly graduated student eager to learn. I'm particularly enthusiastic about programming:
              I've developed a game with my friend to support our classes for a humanitarian project in Nepal
              and I've been involved during one year on the development of an open-source platform for
              radiotherapy research with a cross-cultural team. I'm also passionate about everything revolved
              around Data Science and Artificial Intelligence. How amazing our modern tools are able to get
              insight into any aspect of the world and the achievement of AI algorithms to help our society
              flourish!

              Aside from my technical background, I'm an open-minded and caring person who loves discovering
              new cultures. Feel free to contact me anytime!</p> -->
            <!-- <h4 class="header col s12 black-text">Enjoy!</h4> -->

        </div>
        <!-- <div class="row center"> -->
          <!-- <a href="{% url 'dev_projects:index' %}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">More</a> -->
        <!-- </div> -->
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'presentation/images/BW-Forest.jpg' %}" alt="Background 1"></div>
  </div>


<!-- EDUCATION SECTION -->
  <div id="educ-section" class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class="icon-block">
            <h3 class="center">EDUCATION</h3>

            <p class="light center">After studying two years in Preparatory Classes for the Grandes Ecoles,
            I am currently a holder of two master degrees: <br> one in <strong>Software Engineering</strong> (France),
            the other in <strong>Machine Learning and Big Data</strong> (Australia). </p>

            <div class="row center">
              <a href="{% url 'dev_projects:index' %}" id="download-button" class="btn-large waves-effect waves-light black">More</a>
            </div>

            <div class="card blue lighten-3">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'presentation/images/UOW_grad.jpg' %}" alt="UoW Graduation Ceremony" width="700">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><strong>My graduation day at the University of Wollongong (December 2019)</strong></span>
                <p>In December 2019, I graduated with Master of Computer Sciences with Distinction at the University
                  of Wollongong in Australia. What an immersive and rewarding year!</p>
              </div>
            </div>

            <!-- <div class="center"><img src="{% static 'presentation/images/UOW_grad.jpg' %}" alt="UoW Graduation Ceremony" width=800>
              <br>
              My graduation day at the University of Wollongong (December 2019)
            </div> -->
            <br>
            <br>

          </div>
        </div>
      </div>

    </div>
  </div>


<!-- PROJECT SECTION -->
  <div id="proj-section" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="center white-text">PROFESSIONAL PROJECTS</h3>
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->

          <p class="light">Along with my studies, I was part of multiple development and research projects
          which provided me with technical skills. <br> The most substantial ones are: <br>
          <strong>Research Intern for Prostate Cancer Classification</strong> at Guerbet
          <br> <strong>Front-End Developer of OnkoDICOM</strong>, an open-source platform for radiotherapy research<br> </p>

          <div class="row center">
            <a href="{% url 'dev_projects:index' %}" id="download-button" class="btn-large waves-effect waves-light white black-text">More</a>
          </div>

        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'presentation/images/nepal_class_black.jpg' %}" alt="Nepal class"></div>
  </div>


<!-- VOLUNTEERING SECTION  -->
  <div id="volunteer-section" class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3>VOLUNTEERING</h3>
          <p class="center light">My own purpose of life is to be fully committed in helping people to have
            a better future. I achieve my desire everyday not only through my professionnal career, but also
            through my volunteering experiences. Want to know more about them?</p>


          <div class="row center">
            <a href="{% url 'dev_projects:index' %}" id="download-button" class="btn-large waves-effect waves-light black white-text">Yes, definitely!</a>
          </div>


          <div class="card red lighten-4 left">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'presentation/images/nepal-school.jpg' %}" alt="HumanIIE with Lubra School" width="500">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><strong>HumanIIE 2017 team in Lubra school, Nepal</strong></span>
              <p>During summer 2017, the humanitarian student club HumanIIE intervened in the Lubra school in Nepal <br> to teach
                the basics of office softwares.</p>
            </div>
          </div>


          <!-- <div class="center"><img src="{% static 'presentation/images/nepal-school.jpg' %}" alt="HumanIIE with Nepalese School" width=800>
            <br>
            HumanIIE 2017 team in Lubra school, Nepal
          </div> -->

        </div>
      </div>

    </div>
  </div>


<!-- BLOG SECTION -->
  <div id="blog-section" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3>PERSONAL BLOG</h3>
            <p class="center light">What about my interests? <strong>Personal development</strong>, <strong>trips</strong>, it's all in this section!</p>

            <div class="row center">
              <a href="{% url 'dev_projects:index' %}" id="download-button" class="btn-large waves-effect waves-light white black-text">Come here</a>
            </div>

            <div class="card blue lighten-3">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'presentation/images/NZ.jpg' %}" alt="New-Zealand" width="700">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Somewhere in New-Zealand during a roadtrip</span>
              </div>
            </div>

            <!-- <div class="center"><img src="{% static 'presentation/images/NZ.jpg' %}" alt="New-Zealand" width=700></div> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'presentation/images/sea1.jpg' %}" alt="Australian_sea"></div>
  </div>


<!-- CONTACT SECTION -->
  <footer id="contact-me" class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
          <h3 class="white-text center">CONTACT</h5>
          <p class="light">
            Feel free to send me a message with the following links:
            <ul>
              <li> LinkedIn: <a href="http://www.linkedin.com/in/helene-tran1" class="yellow-text">helene-tran1</a> </li>
              <li> Email: <a href="mailto:tr.helene@hotmail.com" class="yellow-text">tr.helene@hotmail.com</a> </li>
            </ul>
          <br>

          Prefer to contact me through my online form? It's easy and it's &nbsp;
          <a href="{% url 'presentation:contact' %}" class="btn-small waves-effect waves-light white light-blue-text text-darken-4">here!</a>

        </p>
      </div>
    </div>

    <!-- Footer: "Made with Materialize" -->
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'presentation/js/materialize.js' %}"></script>
  <script src="{% static 'presentation/js/init.js' %}"></script>

  </body>
</html>
