{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'dev_projects/css/style.css' %}"> -->

<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'presentation/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'presentation/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Font download from Google -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'presentation:index' %}" class="brand-logo white-text"><i class="material-icons">home</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="#educ-section">EDUCATION</a></li>
          <li><a class="white-text" href="#proj-section">PROJECTS</a></li>
          <li><a class="white-text" href="#volunteer-section">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#blog-section">BLOG</a></li>
          <li><a class="white-text" href="#contact-me">CONTACT</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">EDUCATION</a></li>
          <li><a href="{% url 'dev_projects:index' %}">PROJECTS</a></li>
          <li><a href="#">VOLUNTEERING</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a class="{% url 'presentation:contact' %}" href="#contact-me">CONTACT</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

<!-- QUICK PRESENTATION -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row right-align">

          <h1 class="header amber-text">Hélène TRAN</h2>

          <p class="header col s12 white-text">
            Artificial Intelligence Ph.D. candidate 
            at <a href="https://www.lojelis.com/fr/recherche-developpement-innovation/" class="blue-text text-lighten-2">Lojelis</a> 
            and <a href="https://limos.fr/" class="blue-text text-lighten-2">LIMOS</a>, Clermont-Ferrand, France 
          </p>
        
          <h4 class="header col s12 amber-text text-lighten-2">
            PERSEVERING, CHALLENGE LOVER, ALTRUIST
          </h4>
          <p class="header col s12 white-text">
            Research Engineer in Artificial Intelligence <br>
            Passion for Computer Vision <br>
            Software Developer
          </p>

          <a href="mailto:tr.helene@hotmail.com" class="brand-logo white-text"><i class="material-icons">email</i></a>
          <a href="http://www.linkedin.com/in/helene-tran1" class="brand-logo white-text"><img src="{% static 'presentation/images/linkedin.png' %}" alt="linkedin" width=25></a>
          <a href="http://github.com/helenetran3" class="brand-logo white-text"><img src="{% static 'presentation/images/github.png' %}" alt="github" width=25></a>
          <a href="{% static 'presentation/images/CV_TRAN-Helene.pdf' %}" class="brand-logo white-text"><img src="{% static 'presentation/images/CV_blanc.png' %}" alt="CV" width=25></a>

          <!-- <br>

          <a href="{% url 'dev_projects:index' %}" class="btn-large waves-effect waves-light black white-text">My Skills</a> -->

        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'presentation/images/melbourne_small_black.jpg' %}" alt="Background 1"></div>
  </div>


  <!-- ABOUT ME SECTION -->
  <div id="about-section" class="parallax-container" style="background: rgba(0, 0, 0, 0.87);">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row left-align">

          <div class="col-10">
          <!-- <h2 class="center white-text">ABOUT ME</h2> -->

            <p class="light white-text">Perseverance is the adjective that best describes me. <br>
              Always looking for challenging tasks to develop my technical background, I have a strong interest
              in artificial intelligence and computer vision.
              I have acquired a strong autonomy and a sense of responsibility thanks to my various experiences 
              of my student and professional lives.
              Moreover, I have the ambition to be part of research projects that contribute to the well-being of our society. </p>

          </div>
          <!-- <div class="row center">
            <a href="{% url 'dev_projects:index' %}" class="btn-large waves-effect waves-light white black-text">More</a>
          </div> -->

        </div>
      </div>
    </div>
  </div>


<!-- EDUCATION SECTION -->
  <div id="educ-section" class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-2">EDUCATION</h2>

            <p class="light center">After studying two years in Preparatory Classes for the Grandes Ecoles,
            I am currently a holder of two master degrees: <br> one in <strong>Software Engineering</strong> (France),
            the other in <strong>Machine Learning and Big Data</strong> (Australia). </p>

            <div class="row center">
              <a href="{% url 'dev_projects:index' %}" class="btn-large waves-effect waves-light blue darken-2">More</a>
            </div>

            <div class="card blue darken-4">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'presentation/images/UOW_grad.jpg' %}" alt="UoW Graduation Ceremony" width="700">
              </div>
              <div class="card-content">
                <span class="card-title activator white-text"><strong>My graduation day at the University of Wollongong (December 2019)</strong></span>
                <p class="white-text">In December 2019, I graduated with Master of Computer Sciences with Distinction at the University
                  of Wollongong in Australia. What an immersive and rewarding year!</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


<!-- PROJECT SECTION -->
  <div id="proj-section" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="center deep-purple-text text-lighten-3">PROFESSIONAL PROJECTS</h2>

          <p class="light">Along with my studies, I was part of multiple development and research projects
          which provided me with technical skills. <br> The most substantial ones are: <br>
          <strong>Research Intern for Prostate Cancer Classification</strong> at Guerbet
          <br> <strong>Front-End Developer of OnkoDICOM</strong>, an open-source platform for radiotherapy research<br> </p>

          <div class="row center">
            <a href="{% url 'dev_projects:index' %}" class="btn-large waves-effect waves-light deep-purple lighten-3 black-text">More</a>
          </div>

          <div class="card deep-purple">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'presentation/images/Onko_team2.jpg' %}" alt="Onko team" width="700">
            </div>
            <div class="card-content left-align">
              <span class="card-title activator white-text"><strong>Onko team during SCIT Trade Show 2019</strong></span>
              <p class="white-text">Each year, the University of Wollongong showcases student projects from
                the School of Computing and Information Technology (SCIT). This was a precious opportunity to make a
                demonstration of our OnkoDICOM software to professors, students and health professionals.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'presentation/images/nepal_class_black.jpg' %}" alt="Nepal class"></div>
  </div>


<!-- VOLUNTEERING SECTION  -->
  <div id="volunteer-section" class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h2 class="red-text text-lighten-1">VOLUNTEERING</h2>
          <p class="center light">My own purpose of life is to be fully committed in helping people to have
            a better future. I achieve my desire everyday not only through my professionnal career, but also
            through my volunteering experiences. Want to know more about them?</p>


          <div class="row center">
            <a href="{% url 'dev_projects:index' %}" class="btn-large waves-effect waves-light red lighten-1 white-text">Yes, definitely!</a>
          </div>


          <div class="card red darken-3 left-align">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'presentation/images/nepal-school.jpg' %}" alt="HumanIIE with Lubra School" width="500">
            </div>
            <div class="card-content">
              <span class="card-title activator white-text"><strong>HumanIIE 2017 team in Lubra school, Nepal</strong></span>
              <p class="white-text">During summer 2017, the humanitarian student club HumanIIE intervened in the Lubra school in Nepal to teach
                the basics of office softwares.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- BLOG SECTION -->
  <div id="blog-section" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="green-text text-lighten-2">PERSONAL BLOG</h2>
            <p class="center light">What about my interests? <strong>Personal development</strong>, <strong>trips</strong>, it's all in this section!</p>

            <div class="row center">
              <a href="{% url 'dev_projects:index' %}" class="btn-large waves-effect waves-light green lighten-2 black-text">Come here</a>
            </div>

            <div class="card green darken-2"> <!--style="width:500px;"-->
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'presentation/images/NZ.jpg' %}" alt="New-Zealand">
              </div>
              <div class="card-content left-align">
                <span class="card-title activator white-text"><strong>Somewhere in New-Zealand during a roadtrip</strong></span>
                <p class="white-text">One of the activities I enjoy is travelling. Why? Because it is the best way to understand
                new cultures and to enrich our vision of the world to be more kind with people.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="parallax"><img src="{% static 'presentation/images/sea1.jpg' %}" alt="Australian_sea"></div>
  </div>


<!-- CONTACT SECTION -->
  <footer id="contact-me" class="page-footer teal darken-3">
    <div class="container">
      <div class="row">
          <h2 class="white-text center">CONTACT</h5>
          <p class="light">
            Feel free to send me a message with the following links:
            <ul>
              <li> LinkedIn: <a href="http://www.linkedin.com/in/helene-tran1" class="yellow-text">helene-tran1</a> </li>
              <li> Email: <a href="mailto:tr.helene@hotmail.com" class="yellow-text">tr.helene@hotmail.com</a> </li>
            </ul>
          <br>

          Prefer to contact me through my online form? It's easy and it's &nbsp;
          <a href="{% url 'presentation:contact' %}" class="btn-small waves-effect waves-light white light-blue-text text-darken-4">here!</a>

        </p>
      </div>
    </div>

    <!-- Footer: "Made with Materialize" -->
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'presentation/js/materialize.js' %}"></script>
  <script src="{% static 'presentation/js/init.js' %}"></script>

  </body>
</html>
