{% load static %}

<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'presentation/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'presentation/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Font download from Google -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap" rel="stylesheet"> 

  <style>
    body {
      background-image: url('../static/presentation/images/projects-bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style> 

</head>
<body>
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'presentation:index' %}" class="brand-logo white-text"><i class="material-icons">home</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="{% url 'presentation:education' %}">EDUCATION</a></li>
          <li class="active"><a class="white-text" href="{% url 'presentation:projects' %}">PROJECTS</a></li>
          <li><a class="white-text" href="#volunteer-section">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#blog-section">BLOG</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav black-light">
          <li><a class="white-text" href="{% url 'presentation:education' %}">EDUCATION</a></li>
          <li><a class="white-text" href="{% url 'presentation:projects' %}">PROJECTS</a></li>
          <li><a class="white-text" href="#">VOLUNTEERING</a></li>
          <li><a class="white-text" href="#">BLOG</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <main>


    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <h2 class="deep-purple-text text-lighten-3 center">PROFESSIONAL PROJECTS</h2>

        <div class="row center">
          <ul class="collapsible popout">
            <li>
              <div class="collapsible-header deep-purple darken-2" valign-wrapper>
                <div class="col s2 center white-text">2021 - 2023</div>
                <div class="col s6 valign-wrapper">
                  <i class="material-icons yellow-text text-lighten-3">play_arrow</i>
                  <a class="yellow-text text-lighten-3">Automatic Emotion Recognition with Multimodal Sources </a><a class="white-text">&nbsp;(Ph.D)</a>
                </div>
                <div class="col s4 right-align white-text"><em>Lojelis</em> and <em>LIMOS</em></div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header deep-purple darken-1" valign-wrapper>
                <div class="col s2 center white-text">Nov-Dec 2020</div>
                <div class="col s6 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">
                  Development of my personal website </a><a class="white-text">&nbsp;(self-initiated project)</a>
                </div>
                <div class="col s4 right-align white-text"></div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header deep-purple lighten-1 valign-wrapper">
                <div class="col s2 center white-text">Mar-Aug 2020</div>
                <div class="col s6 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">
                  Prostate Cancer Classification </a><a class="white-text">&nbsp;(research internship)</a>
                </div>
                <div class="col s4 right-align white-text"><em>Guerbet</em></div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header deep-purple lighten-2 valign-wrapper">
                <div class="col s2 center white-text">Mar-Nov 2019</div>
                <div class="col s6 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">
                  Software Development of OnkoDICOM </a><a class="white-text">&nbsp;(final year project)</a>
                </div>
                <div class="col s4 right-align white-text"><em>University of Wollongong</em></div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header deep-purple lighten-3 valign-wrapper">
                <div class="col s2 center white-text">Jun 2017</div> 
                <div class="col s6 valign-wrapper">
                  <i class="material-icons green-text text-accent-2">check</i>
                  <a class="green-text text-accent-2">
                  Software Game Development </a><a class="white-text">&nbsp;(self-initiated project)</a>
                </div>
                <div class="col s4 right-align white-text"><em>HumanIIE</em></div>
              </div>
              <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </main>

  <!-- Footer: "Made with Materialize" -->
  <div class="footer-copyright black-light">
    <div class="container white-text">
    Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>


  <!--  Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'presentation/js/materialize.js' %}"></script>
  <script src="{% static 'presentation/js/init.js' %}"></script>

  </body>
</html>

